@import '../../../styles/app';
.root {}

.overFlow {
    overflow-x: auto;
}

.mainTableWidget {
     :global {
        .table td {
            border: none;
        }
    }
}

ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}