@import '../../../styles/app';
.root {}

.overFlow {
    overflow-x: auto;
}

.mainTableWidget {
     :global {
        .table td {
            border: none;
        }
    }
}

li {
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 65, 65);
}